@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.container .register {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


